:root{
    --azul: #1e3a8a;
    --amarelo: #facc15;
    --cinza: #f3f4f6;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cinza);
    color: var(--azul);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}